<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="vendor/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">

    <title>IPFS Uploader</title>
</head>

<body>
    <div id="frmUpload" class="frm m-3 d-none">
        <h2>
            IPFS Uploader
        </h2>
        <div class="mb-3 text-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="type" type="radio" id="cbxFile" onchange="cbxFile_OnChange()" checked>
                <label class="form-check-label" for="cbxFile">File</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="type" type="radio" id="cbxText" onchange="cbxFile_OnChange()">
                <label class="form-check-label" for="cbxText">Text</label>
            </div>
        </div>
        <div class="mb-3">
            <input type="file" id="fileData" class="form-control">
            <input type="text" class="form-control d-none" id="txtData">
        </div>
        <div class="mb-3">
            <div class="progress">
                <div id="pbPercentage" class="progress-bar bg-success" style="width: 0%"></div>
            </div>
        </div>
        <div class="mb-3 text-center">
            <button id="btnUpload" class="btn btn-success" onclick="btnUpload_OnClick()">Upload</button>
            <button class="btn btn-primary" onclick="frmCredentials_Load()">Credentials</button>
        </div>
    </div>

    <div id="frmCredentials" class="frm m-3 d-none">
        <div class="input-group">
            <div class="form-floating">
                <input type="text" id="txtHost" class="form-control">
                <label for="txtHost">Host</label>
            </div>
            <div class="form-floating">
                <input type="number" id="txtPort" class="form-control">
                <label for="txtPort">Port</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="https">
                <label class="form-check-label" for="https">
                    https
                </label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="form-floating">
                <input type="text" id="txtUser" class="form-control">
                <label for="txtUser">Username</label>
            </div>
            <div class="form-floating">
                <input type="text" id="txtKey" class="form-control">
                <label for="txtKey">Key</label>
            </div>
        </div>

        <div class="mb-3 text-center">
            <button id="btnSave" class="btn btn-success" onclick="btnSave_OnClick()">Save</button>
            <button class="btn btn-primary" onclick="frmUpload_Load()">Upload</button>
        </div>
    </div>

    <script src="vendor/bootstrap.js"></script>
    <script src="js/app.js"></script>

    <script src="js/frm/upload.js"></script>
    <script src="js/frm/credentials.js"></script>
</body>

</html>